
NODE_ENV=development
PORT=5002
DATABASE_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority&appName=<appName>
DEFAULT_PASS=your_default_password
SALT_ROUND=11
JWT_ACESS_TOKEN=your_jwt_secret_key
JWT_EXPIRES_IN=1d
